
@import url('https://fonts.googleapis.com/css2?family=Finger+Paint&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

body p{
    text-align: center;
    font-family: Verdana;
    margin-bottom: 20px;
    position: relative; 
}
.navbar-brand img {
  height: 50px;           /* pienennä korkeutta */
  width: auto;            /* säilyttää kuvasuhteen */
  object-fit: contain;    /* varmistaa ettei veny */
  padding-right: 10px;
  margin: 0 !important;
  display: block;         /* poistaa "tekstin rivivälin" ympäriltä */

}
.navbar-brand {
     padding: 0 !important;
  display: flex;
  align-items: center; /* keskittää logon pystysuunnassa */
 margin-right: 2rem;
}
.navbar-custom {
    background-color: #093f7e;
}
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text{
    color: rgba(234, 239, 240, 0.354);
}

/* linkin väri */
.navbar-custom .navbar-nav .nav-link {
    color: rgba(223, 224, 228, 0.8);
}
.nav-item .dropdown-menu a:hover {
            color: white !important;
            background: rgb(85, 105, 219) !important;
            cursor: pointer;
  }

/* aktiivisen & hover-linkin väri */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: #99ddec;
}
.nav-link.active {
	  color: #457ec0 !important;
	}



.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(223, 224, 228, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  
}
.custom-toggler.navbar-toggler {
            border-color: rgb(136, 141, 214);
            
        }

  [id] {
  scroll-margin-top: 100px;  /* säädä tarpeen mukaan */
}

/*karusellin leveys*/
.carousel {
    width: 70%;
    margin:auto;
    padding-bottom: 40px;
    margin-top: 90px;
   
    
}
.carousel-caption {
    background-color: rgba(223, 224, 228, 0.8);
    color:darkblue;
    padding-right: 10px;
    padding-left: 10px;
    max-height: 30%;
   
    
}

/*grid asetukset*/
.container .col-md-4 img{
    width: 100%;
    border-radius: 50%;
}
.container .col-md-4 {
  padding-bottom: 40px;
  margin: auto;
  text-align: center;
  
}
#kuva2 {
    margin-right:0;
}
.container {
  background-color: aliceblue;

}
/*kortit*/

.card {
  text-align: center;
  
}
.card-group {
  padding-bottom: 40px;
  
}
/*haitari*/
.accordion {
  width: 80%;
  margin: auto;
}
.accordion-button {
  background-color: #0a69ac;
  color: aliceblue;
  
}

/*välilehdet*/
.nav-tabs {
  margin-top: 40px;
  

}
/*taulukko*/

#taulukko {
  padding-top: 40px;
  background-color:aliceblue;
}

/*lomake*/
.formi {
  margin-top: 40px;
 
}

.lomake {
  
  border-style: solid;
  border-radius: 20%;
  border-color: #446dc4cf;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color:#9ee5f8;
  color:#06264a;
}
#lomakkeenOtsikko {
  text-align: center;
}
.vastaus {
  border-style:inset;
  border-color:#446dc4cf;
  background-color: #a5e5f7;
  border-radius: 20%;
  color:#06264a;
  text-align: center;
  
}

/*fontit*/

.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}
@media(max-width: 768px) {
  .carousel-caption {
    max-width: 90%;
    font-size: 0.7rem;
    
    padding-top: 5px;
  }
  .carousel {
    width: 100%;
  }
  .carousel-caption h3 {
    font-size: 0.9rem;
    
  }
  .kuvaaja {
    font-size: 0.5rem;
    margin-top: 0.3rem;
    
  }
  .carousel-caption p {
    margin: 0 !important;
    padding: 0 !important;
  }
}
